.ListComponent {
  background-color: white;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  .Header {
    padding: 0 10px;
  }

  .SearchBar {
    padding: 10px;
  }

  .ContactsList {
    flex-grow: 1;
    overflow-y: scroll;

    &__item {
      &[data-selected="true"] {
        li {
            background-color: #F6F6F6;
        }
      }
      li {
        transition: 0.3;
        &:hover {
          background-color: #F6F6F6;
        }
      }
    }
  }
}
